@import '../../scss/screen_size';
.ProductCard {
  min-width: 9.75rem;
  height: 16.87rem;
  background-color: var(--white);
  border: 3px solid var(--vl-grey);
  border-radius: 0.6rem;
  padding: 1.2rem 0.7rem;
  scroll-snap-align: start;
  font-size: 1rem;
  @include mobile {
    min-width: 10.75rem;
    height: 17.87rem;
    font-size: 1.1rem;
  }
  .top-section {
    display: flex;
    justify-content: center;
    position: relative;
    height: 50%;
    img {
      height: 100%;
      width: auto;
      object-fit: cover;
    }
    .buttons {
      .heart,
      .cart {
        position: absolute;
        height: 1.8em;
        width: 1.8em;
        color: var(--white);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
          0px -1px 4px 1px rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 100%;
        transition: all 0.2s;
        transform-origin: center;
        svg {
          transition: all 0.2s;
        }
      }
      .heart {
        right: 2.5em;
      }
      .heart:hover,
      .cart:hover {
        transform: scale(1.2);
        svg {
          fill: var(--red);
        }
      }
    }
  }
  .details {
    .product-name {
      font-family: Ramabhadra;
      justify-self: flex-start;
      font-weight: normal;
      font-size: 0.9em;
      letter-spacing: 0.065em;
      margin-top: 1.9em;
      color: var(--d-grey);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .price {
      margin-top: 0.2em;
      display: flex;
      font-family: Roboto;
      font-weight: bold;
      letter-spacing: 0.065em;
      .selling-price {
        font-size: 0.9em;
        line-height: 1em;
        color: var(--green);
      }
      .market-price {
        margin-left: 0.3em;
        font-size: 0.75em;
        text-decoration-line: line-through;
        color: var(--l-grey);
      }
    }

    .buy-now {
      margin-top: 0.87em;
      width: 100%;
      display: flex;
      justify-content: center;
      button {
        height: 1.85em;
        width: 96%;
        font-weight: bold;
        background: var(--orange);
        border-radius: 0.2em;
        font-size: 0.9em;
        color: var(--white);
        border: none;
        outline: none;
        position: relative;
        transition: all 0.2s;
        transform-origin: center;
      }
      button:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
          0px -1px 4px 1px rgba(0, 0, 0, 0.05);
      }
    }
  }
}
