@import '../../scss/screen_size';
header {
  font-family: 'Roboto', sans-serif;

  nav {
    height: var(--header-height);
    width: 100vw;
    padding: 0 4vw;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
    transform: translateY(-100%);
    transition: transform 0.3s;
    background: linear-gradient(
      180deg,
      var(--bg-color) 0%,
      rgba(254, 255, 237, 0.9) 100%
    );
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
    width: 100%;
    // max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include ipadpro {
      background: var(--bg-color);
    }
    .section-1 {
      display: flex;
      align-items: center;
      .logo {
        margin-left: -0.4rem;
        width: 3.7rem;
      }
      .nav-links {
        letter-spacing: 0.065em;
        font-weight: 400;
        font-size: 1rem;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        @include ipadpro {
          display: none;
        }
        a {
          text-decoration: none;

          .nav-link {
            margin: 0 1em;
            color: var(--d-grey);
          }
          .active {
            background: var(--green);
            color: var(--bg-color);
            padding: 0.3em 1em;
            border-radius: 0.2rem;
          }
        }
      }
    }
    .section-2 {
      display: flex;
      .auth {
        padding: 0 1.5em;
        height: 1.93rem;
        margin-right: 20px;
        background: var(--red);
        border-radius: 3px;
        color: var(--bg-color);
        font-weight: bold;
        font-size: 0.9rem;
        letter-spacing: 0.065em;
        border: none;
        outline: none;
        cursor: pointer;
        @include ipadpro {
          display: none;
        }
      }
      .search-box {
        position: relative;
        width: 10rem;
        height: 1.93rem;
        margin-right: 1.9rem;
        @include ipadpro {
          width: 15rem;
          height: 2.2rem;
        }
        #search::placeholder,
        #search {
          font-size: 0.7rem;
          line-height: 14px;
          display: flex;
          align-items: center;
          letter-spacing: 0.13em;
          color: var(--bg-color);
        }
        #search {
          background: var(--d-grey);
          height: 100%;
          width: 100%;
          padding: 10px;
          border-radius: 0.2rem;
          letter-spacing: 0.1em;
          border: none;
          outline: none;
        }

        img {
          position: absolute;
          width: 1.2rem;
          right: 0.8rem;
          top: 50%;
          transform: translateY(-50%);
          z-index: 2;
        }
      }
      .icons {
        display: flex;
        height: max-content;

        .cart {
          margin-right: 1.8rem;
        }
        .ham-menu {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-height: 23px;
          width: 30px;

          .bar {
            height: 3.9px;
            width: 100%;
            background-color: var(--d-grey);
            border-radius: 4px;
            transform: scaleY(0.8);
            transition: all 0.5s;
            transform-origin: center;
          }
          .bar:nth-child(3) {
            width: 70%;
            transform-origin: left;
          }
          .bar:nth-child(2) {
            transform-origin: left;
          }
        }
        .ham-menu-active {
          .bar:nth-child(3),
          .bar:nth-child(2) {
            transform: scaleX(0);
          }
          .bar:nth-child(1) {
            transform: rotateZ(45deg) translate(5px, 9.5px) scaleX(1.1);
          }
          .bar:nth-child(4) {
            transform: rotateZ(-45deg) translate(5px, -9.5px) scaleX(1.1);
          }
        }
        .ham-menu,
        .cart {
          cursor: pointer;
          height: max-content;
          svg {
            width: 2rem;
            display: block;
          }
        }
      }
    }
  }
  .overlay {
    position: fixed;
    height: 100vh;
    top: 0;
    width: 100vw;
    background-color: var(--black);
    opacity: 0;
    z-index: 2;
    transform: translateX(-100vw);

    &-active {
      transform: translateX(0);
    }
    @include ipadpro {
      opacity: 0.1;
    }
  }
}
.header-active {
  transform: translateY(0);
}
