@import '../../scss/screen_size';

.Hero {
  position: relative;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-start;
  padding: 15vh var(--common-padding);
  // position: relative;
  min-height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);

  @include display2k {
    padding-top: 20vh;
  }
  @include ipadpro {
    padding-top: 5rem;
  }
  @include mobile {
    padding-top: 5vh;
  }
  .hero-wraper {
    min-width: 90%;
    display: flex;
    justify-content: space-between;

    @include ipadpro {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
    @include mobile {
      margin-bottom: 2rem;
    }
    .arokiyam {
      font-weight: bold;
      font-size: 4.6rem;
      line-height: 7rem;
      color: #3a3a3a;
      opacity: 0.2;
    }
    .subtitle,
    .title {
      font-family: Spectral SC, sans-serif;
      font-style: normal;
      font-weight: normal;
      color: var(--black);
    }
    .subtitle {
      font-size: 1.01rem;
      margin-top: -0.3rem;
    }
    .title {
      // display: inline;
      width: 23rem;
      font-size: 2.37rem;
      line-height: 3.6rem;
      letter-spacing: 0.045em;
      @include ipadpro {
        width: 18rem;
      }
    }
    .buttons {
      display: flex;
      @include ipadpro {
        margin-top: 2rem;
      }
      button::after {
        content: '';
        height: 1.2rem;
        width: 1.2rem;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        position: absolute;
        background-size: 100%;
        @include ipadpro {
          height: 1.4rem;
          width: 1.4rem;
        }
      }
      button {
        cursor: pointer;
        font-size: 0.8rem;
        font-family: Roboto;
        font-weight: 500;
        letter-spacing: 0.155em;
        color: #f2f3ff;
        color: var(--bg-color);
        width: 8.4rem;
        height: 2.2rem;
        border-radius: 0.3rem;
        border: none;
        outline: none;
        text-align: end;
        padding-right: 0.9rem;
        @include ipadpro {
          width: 10rem;
          height: 2.8rem;
          font-size: 1rem;
        }
      }

      .call-us {
        position: relative;
        margin-right: 4rem;
        button {
          background-color: var(--d-grey);
          &::after {
            background-image: url('../../images/svgs/call.svg');
          }
        }
      }
      .shop-now {
        position: relative;
        button {
          background-color: var(--red);
          &::after {
            background-image: url('../../images/svgs/cartbutton.svg');
          }
        }
      }
    }
  }
}

.intro {
  position: relative;
  align-self: flex-start;
  .machine {
    position: absolute;
    right: -8rem;
    top: -5rem;
    z-index: -1;
    width: 20rem;
    @include desktophuge {
      top: -2rem;
    }
    @include ipadpro {
      top: 0;
      right: -15rem;
    }
    @include ipad {
      right: -20rem;
    }
    @include mobile {
      width: 16rem;
      right: -5rem;
    }
  }
}
// images in hero section
.floating-images {
  position: absolute;
  z-index: -2;
}
.bottels {
  width: 15rem;
  height: auto;
  bottom: 0;
  left: -10px;
}
.peanut {
  width: 16rem;
  height: auto;
  right: -60px;
  bottom: 20px;
}
.decor-dots {
  left: 53%;
  bottom: 25%;
  width: 5.4rem;
  @include ipadpro {
    bottom: 18%;
  }
  @include ipad {
    left: 40%;
    bottom: 5%;
  }
  @include mobile {
    left: 40%;
    bottom: 15%;
  }
  @include smallmobile {
    width: 4rem;
  }
}
.down {
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
}
