@import './assets/scss/screen_size';
@import './assets//scss//fonts';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: #fffff8;
  --d-grey: #3a3a3a;
  --l-grey: #898989;
  --vl-grey: #e2e2e2;
  --red: #ff3d31;
  --green: #129890;
  --b-green: #30bc2d;
  --orange: #ff7200;
  --blue: #4a8ddd;
  --footer: #393b4c;
  --white: #fff;
  --black: #000;
  --header-height: 3.4rem;
  --common-padding: 8vw;
  font-size: 16px;
  @include desktophuge {
    font-size: 20px;
  }
  @include desktop {
    font-size: 14px;
  }

  @include display2k {
    font-size: 24px;
  }
  @include ipadpro {
    font-size: 20px;
    --common-padding: 8vw;
  }
  @include ipad {
    font-size: 15px;
    --common-padding: 8vw;
  }
  @include mobile {
    font-size: 12px;
    --header-height: 4.2rem;
    --common-padding: 5vw;
  }
  @include smallmobile {
    font-size: 11px;
    --common-padding: 5vw;
  }
}
body {
  min-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: Roboto -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
  .bg-leaf {
    width: 40rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -4;
    @include mobile {
      width: 25rem;
    }
  }
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }

.block-click {
  cursor: not-allowed;
  color: var(--l-grey) !important;
}
.translate0 {
  transform: translate(0, 0) !important;
}
